* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(179, 179, 209);
    overflow: hidden;
}

header {
    background-color: rgb(107, 216, 6);
    border: solid 1px rgb(195, 0, 255);
    text-align: center;
}

#centralizar {
    text-align: center;
    position: absolute;
    top: 20%;
    width: 100%;
}

span,
input {
    margin-top: 20px;
    color: red;
    font-size: 24px;
    align-items: center;
    text-align: center;
}

#btnCalcular {
    font-size: 20px;
    padding: 10px;
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    background: #470ee6;
    transition: all 0.2s;
}

#btnCalcular:hover {
    background: black;
    color: white;
}